@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
  background-color: #0f0f0f;
  font-family: Inter;
}

button {
  padding: 10px;
  border-style: none;
  inline-size: 32px;
  block-size: 32px;
  background-color: transparent;
  cursor: pointer;
}

button:active{
  transform: scale(.8);
}

.play{
  background-image: url('../assets/images/play.svg');
}

.stop{
  background-image: url('../assets/images/pause.svg');
}

.avan{
  background-image: url('../assets/images/+10.svg');
}

.retro{
  background-image: url('../assets/images/-10.svg');
}

.wrapper{
  max-inline-size: 900px;
  margin: auto;
}

.player{
  margin-block-start: 100px;
  position: relative;
}

.player #vid{
  inline-size: 100%;
  aspect-ratio: 16/9;
  vertical-align: middle;
  object-fit: cover;
}

.player:hover #vid{
  opacity: 0.7;
}

.player-title{
  color: #d9d9d9;
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 20px;
}

.player-actions{
  position: absolute;
  inset: 0 ;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  gap: 20px;
}

.player-progress{
  position: absolute;
  inset-block-end: 0;
  inset-inline: 0;
  display: flex;
  padding: 10px;
  z-index: 3;
}

.player-progress input{
  flex: 1;
}

input[type='range']::-ms-thumb {
  background-color: #000; 
}

input[type='range']::-webkit-slider-thumb {
  background-color: #000;
}


.player-overlay{
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: .3s opacity;
}

.player:hover .player-overlay{
  opacity: 1;
}